<!-- Navigation -->
<nav class="navbar navbar-dark dfu-navbar static-top">
  <div class="container">
    <a class="navbar-brand" href="/">{{site.title}} </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active"> -->
        <!-- <a class="nav-link" href="/about/">About <span class="sr-only">(current)</span></a> -->
        <!-- </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/about/">About</a>
        </li>
        <!-- <li class="nav-item"> -->
        <!-- <a class="nav-link" href="/what-we-do/">What we do</a> -->
        <!-- </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
        <!-- <li class="nav-item"> -->
        <!-- <a class="nav-link" href="/resources/">Resources</a> -->
        <!-- </li> -->
        <!-- <li class="nav-item"> -->
        <!-- <a class="nav-link" href="/signup/">Sign up</a> -->
        <!-- </li> -->
      </ul>
    </div>
  </div>
</nav>
