
header.dfu-masthead {
  position: relative;
  background-color: $dfu-orange;
  // background: url("../img/dfu-bird.svg") no-repeat center center;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

header.dfu-masthead .overlay {
  position: absolute;
  //background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.dfu-masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.dfu-masthead {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  header.dfu-masthead h1 {
    font-size: 3rem;
  }
}
